@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../fonts/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fontpadrao: Arial, Verdana, helvetica, sans-serif;
    --fontbebas: 'Bebas Neue', cursive;
    --fontdroid: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor2);
    font-family: var(--fontpadrao);
}

a.externo::after{
    content: '\00a0\1f517';
}

header{
    padding-top: 40px;
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor6));
}

header>h1{
    font-family: var(--fontbebas);
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
    font-weight: normal;
}

header>p{
    font-family: var(--fontpadrao);
    color: white;
    font-size: 1.2em;
    margin: auto;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;

}

nav{
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.384);
    padding: 10px;
}

nav>a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 2px;
    transition-duration: 0.2s;
    
}

nav>a:hover{
    background-color: var(--cor2);
    box-shadow: 0px 0px 12px black;

}

nav>a:active{
    box-shadow: inset 0px 0px 3px 2px rgb(0, 0, 0);
    
}

main{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 15px;
    background-color: white;
    max-width: 800px ;
    min-width: 270px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
}

img{
    width: 100%;
}

.droid{
    max-height: 350px;
    display: block;
    max-width: 350px;
    margin: auto;
}

.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}

main h1{
    font-family: var(--fontdroid);
    color: var(--cor6);
    font-size: 2em ;
    font-weight: normal;
}

main h2{
    font-family: var(--fontdroid);
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 20px;
}

main p{
    margin: 15px 0px;
    text-align: justify ;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1.1;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 0px 5px;
}
main a{
    text-decoration: none;
    color: rgb(255, 102, 0);
}
main a:hover{
    text-decoration: underline;
}

div.video{
    background-color: var(--cor6);
    margin-bottom: 30px;
    margin: 0px -15px 20px -15px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}

div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside{
    background-color: var(--cor1);
    border-radius: 10px ;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.452);
 
}

aside ul{
    list-style-type: '\2714\00a0\00a0';
    columns: 2;
    list-style-position: inside;
    padding: 10px;
    
}

aside abbr{
    text-decoration: underline;
}

aside h3{
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 10px;
    background-color: var(--cor4);
   
}

aside p{
    padding: 10px;
}


footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 20px;
}
footer a{
    color: rgb(202, 76, 3);
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}